<section class="page-section" id="{{ site.data.m2.conclusions.section | default: "m2_conclusions" }}">
    <div class="container">
      
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">{{ site.data.m2.conclusions.title }}</h2>
        </div>
      </div>

      <div class="row">
        <div class="col col-lg-12 text-center">
          <p>This will contain key information that will guide us to success. Also don't write text here. Put text and picture paths in _data/m2.yml under the specific section :)</p>
        </div>
      </div>
  
    </div>
</section>