<section class="page-section" id="{{ site.data.m2.general_plan.section | default: "general_plan" }}">
    <div class="container">
      
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">{{ site.data.m2.general_plan.title }}</h2>
        </div>
      </div>

      <div class="row">
        <div class="col col-lg-4 text-center">
          <img src=assets/img/planning.png alt="People planning"/>
        </div>
        <div class="col col-lg-8 text-justify">
          <p>{{ site.data.m2.general_plan.text }}</p>
        </div>
      </div>
  
    </div>
</section>