<section class="page-section" id="{{ site.data.m2.solution_validation.section | default: "customer_discovery" }}">
    <div class="container">
      
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">{{ site.data.m2.solution_validation.title }}</h2>
        </div>
      </div>
  
      <div class="row">
        <div class="col col-lg-12 text-center">
          <p>Customers are nice. We want many of them. Also don't write text here. Put text and picture paths in _data/m2.yml under the specific section :)</p>
        </div>
      </div>

    </div>
</section>