<!-- Descriptions -->
  <section class="page-section" id="{{ site.data.sitetext.description.section | default: "description" }}">
    <div class="container">
	  
      <div class="row text-center">
	  {% for description in site.data.sitetext.description.list %}
        <div class="col-md-6">
          <span class="fa-stack fa-4x">
            <icon class="fas fa-circle fa-stack-2x text-primary"></icon>
            <icon class="{{ description.icon | default: "" }} fa-stack-1x fa-inverse"></icon>
          </span>
          <h4 class="description-heading">{{ description.title | markdownify }}</h4>
          {% if description.desc %}<div class="text-muted">{{ description.desc | markdownify }}</div>{% endif %}
        </div>
	  {% endfor %}
      </div>
	  
    </div>
  </section>
<!-- End Descriptions -->