<!-- Team -->
<section class="page-section" id="{{ site.data.sitetext.team.section | default: "team" }}">
<div class="container">
  <div class="row">
	<div class="col-lg-12 text-center">
	  <h2 class="section-heading text-uppercase">{{ site.data.sitetext.team.title }}</h2>
	  <h3 class="section-subheading text-muted">{{ site.data.sitetext.team.text }}</h3>
	</div>
  </div>

  <div class="row justify-content-md-center">
{% for person in site.data.sitetext.team.people_one %}
	<div class="col col-md-4">
	  <div class="team-member">
		<img class="mx-auto rounded-circle" src="{{ person.image }}" alt="">
		  <h5>{{ person.name }}</h5>
		  <a href="mailto:{{ person.email }}">{{ person.email }}</a>
		  <p class="text-muted">{{ person.role }}</p>
	  </div>
	</div>
{% endfor %}
  </div>

  <div class="row justify-content-md-center">
{% for person in site.data.sitetext.team.people_two %}
  <div class="col col-md-4">
	<div class="team-member">
	  <img class="mx-auto rounded-circle" src="{{ person.image }}" alt="">
		<h5>{{ person.name }}</h5>
		<a href="mailto:{{ person.email }}">{{ person.email }}</a>
	  	<p class="text-muted">{{ person.role }}</p>
	</div>
  </div>
{% endfor %}
  </div>

{% if site.data.sitetext.team.subtext %}
  <div class="row">
	<div class="col-lg-8 mx-auto text-center">
	  <div class="large text-muted">{{ site.data.sitetext.team.subtext | markdownify }}</div>
	</div>
  </div>
{% endif %}

</div>
</section>
<!-- End Team -->