<section class="page-section" id="{{ site.data.m7.content.section | default: "content" }}">
  <div class="container">

    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.m7.content.title }}</h2>
      </div>
    </div>

    <div class="row justify-content-center align-items-center">

      <div class="col-lg-4">
        <p class="text-justify"> First, the user has to sign in its account. This allows the user to access its saved resources from any computer.</p>
      </div>

      <div class="col-lg-8 text-justify">
        <img src="assets/img/m7/acc2.png" width=100% alt="signin" style="margin-bottom: 10px"/>
      </div>
    </div>

    <div class="row justify-content-center align-items-center">
        <p class="text-justify"> When a link is saved, the user can add one or more tags and a description, rate the quality of the resource and select its difficulty.</p>
      
      <div class="col-lg-12 text-justify">
        <img src="assets/img/m7/save.png" width=100% alt="save" style="margin-top: 10 px; margin-bottom: 30px;"/>
      </div>
    </div>


    <div class="row justify-content-center">

      <p> Links are saved in directories, based on their tags. After selecting a folder, the user can see the links saved, with their webpage titles. "See note" button opens the link in a new tab. </p>

      <img src="assets/img/m7/materials1.png" width=60% alt="materials1" style="margin-top: 10px;"/>

      <img src="assets/img/m7/materials2.png" width=60% alt="materials2" style="margin-top: 10px; margin-bottom: 10px;"/>

      <p> When the user searches a topic, the extension automatically searches in our database to find the best resources, which can be filtered by difficulty.</p>
      <img src="assets/img/m7/recommend.png" width=100% alt="recommend" style="margin-top: 10px; margin-bottom: 30px;"/>

    </div>

    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Future work</h2>
        <p class="text-justify"> At the moment, the recommendation system doesn't bring much value to our product because we don't have enough data. As the number of users increases, we will be able to train a more complex algorithm and enhance this functionality, as well as add new ones like offering learning roadmaps.</p>
        <h4 class="section-heading text-uppercase">Stay tuned!</h4>        
      </div>
    </div>

  </div>
</section>
