<section class="page-section" id="{{ site.data.m7.introduction.section | default: "introduction" }}">
  <div class="container">

    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.m7.introduction.title }}</h2>
      </div>
    </div>

    <div class="row justify-content-center align-items-center">
     <div class="col-lg-8 text-center">
      	<p> Based on the form and interview answers we built the MVP, which can be downloaded <a href="https://drive.google.com/uc?export=download&id=1FMhiGFb6sNyo29nCt5WYYH29s4FgcE4b"> here </a>. It doesn't appear in Chrome Store yet as we have to wait for it to be reviewed, but we published it on our <a href="https://unicorns-guideme.github.io/LandingPage/"> Landing Page </a>. </p>
     </div>
    </div>

    <div class="row justify-content-center align-items-center">
      <div class="col-lg-8 text-justify">
        <img src="assets/img/m7/save1.png" width=100% alt="save1"/>
        <img src="assets/img/m7/save2.png" width=100% alt="save2"/>
        <img src="assets/img/m7/save3.png" width=100% alt="save3"/>
        <img src="assets/img/m7/save4.png" width=100% alt="save4"/>
        <img src="assets/img/m7/save5.png" width=100% alt="save5"/>
      </div>

      <div class="col-lg-4">
      	<p class="text-justify"> A recurrent answer in the form we created was that people <b>save</b> their links in bookmarks/notes/locally, therefore we considered that storing and centralizing links to resources in a straightforward manner is important and added this functionality. </p>
      </div>
    </div>

    <div class="row justify-content-center align-items-center">

      <div class="col-lg-8 text-justify">
        <img src="assets/img/m7/org1.png" width=100% alt="org1"/>
        <img src="assets/img/m7/org2.png" width=100% alt="org2"/>
        <img src="assets/img/m7/org3.png" width=100% alt="org3"/>
        <img src="assets/img/m7/org4.png" width=100% alt="org4"/>
        <img src="assets/img/m7/org5.png" width=100% alt="org5"/>
        <img src="assets/img/m7/org6.png" width=100% alt="org6"/>
      </div>

      <div class="col-lg-4">
      	<p class="text-justify"> Many people (in form and interview) said that they like to <b>organize</b> their resources in folders, by subject. Our extension allows the user to <b>tag</b> saved links with one or multiple tags and visualize them in <b>directories</b> that contain these tags. </p>
      </div>

    </div>


    <div class="row justify-content-center align-items-center">

      <div class="col-lg-8 text-justify">
        <img src="assets/img/m7/easy1.png" width=100% alt="easy1"/>
        <img src="assets/img/m7/easy2.png" width=100% alt="easy2"/>
        <img src="assets/img/m7/easy3.png" width=100% alt="easy3"/>
      </div>

      <div class="col-lg-4">
      	<p class="text-justify"> For some, the <b>difficulty</b> of the information explained is an important aspect, so we also added the functionality to <b>filter</b> search results or <b>evaluate</b> some content from this perspective.  </p>
      </div>

    </div>

    <div class="row justify-content-center align-items-center">

      <div class="col-lg-8 text-justify">
        <img src="assets/img/m7/trust.png" width=100% alt="trust"/>
      </div>

      <div class="col-lg-4">
      	<p class="text-justify"> One of the main factors that differentiate good resources from bad ones are other people's reviews, so we implemented a simple <b>recommendation system</b> based on ratings from other users who searched the same topic.</p>
      </div>

    </div>

  </div>
</section>
