<section class="page-section" id="{{ site.data.m6.potential_market_share.section | default: "potential_market_share" }}">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">{{ site.data.m6.potential_market_share.title }}</h2>
            <p class="text-justify"></p>
        </div>
      </div>

      <div class="row text-justify justify-content-md-center">
        <p>{{ site.data.m6.potential_market_share.desc }}</p>
      </div>

    </div>
</section>
