<section class="page-section bg-light" id="{{ site.data.m3.landing_page.section }}">
    <div class="container">

     <!-- Section title -->
      <div class="row">
        <div class="col col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">
              {{ site.data.m3.landing_page.title }}
          </h2>
        </div>
      </div>

      <div class="row text-center">
        <div class="col col-lg-12">
          <h5 class="text-center">
            <strong>Check out our landing page
              <a href="https://unicorns-guideme.github.io/LandingPage/">here</a>!
            </strong>
          </h5>
        </div>
      </div>

      <div class="row text-center">
        <div class="col col-lg-12">
          <img src="assets/img/landingpage.gif" alt="Landing page" width=100%/>
        </div>
      </div>
    </div>
</section>
