<section class="page-section" id="{{ site.data.m3.landing_page.section }}">
    <div class="container">

     <!-- Section title -->
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">
              {{ site.data.m3.landing_page.title }}
          </h2>
        </div>
      </div>

      <!-- TODO: add landing page wireframes. -->
      <div class="row text-center">
          <span><b>Check out our landing page
                <a href="https://unicorns-guideme.github.io/LandingPage/">here</a>
                !</b></span>
      </div>

      <p> TODO: add Landing Page pictures </p>

    </div>
</section>
