<section class="page-section" id="{{ site.data.m3.wireframes.section }}">
    <div class="container">

     <!-- Section title -->
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">
              {{ site.data.m3.wireframes.title }}
          </h2>
        </div>
      </div>

     <!-- Section description-->
      <div class="row">
        <div class="col-lg-12 text-center">
            <p> {{ site.data.m3.wireframes.description }} </p>
        </div>
      </div>

     <!-- Wireframes -->
      <div class="row">
          <img src="assets/img/wireframes/functionalities.png"
               width=100% alt="Functionalities."/>
      </div>


    </div>
</section>
