<!-- Competition Grid -->
<section class="bg-light page-section" id="{{ site.data.sitetext.competition.section | default: "competition" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext.competition.title | markdownify | default: "Competition" }}</h2>
      <!-- {% if site.data.sitetext.competition.text %}  
        <h3 class="section-subheading text-muted">{{ site.data.sitetext.competition.text | markdownify }}</h3>
      {% endif %} -->
      </div>
    </div>
    <div class="row">
	{% for competitor in site.data.sitetext.competition.list %}
      <div class="col-md-4 col-sm-6 competition-item">
        <img class="img-fluid" src="{{ competitor.thumbnail }}" alt="">
      {% if competitor.title %}
        <div class="competition-caption">
          <h4>{{ competitor.title }}</h4>
        </div>
      {% endif %}
      {% if competitor.subtitle %}
          <p class="text-muted">{{ competitor.subtitle }}</p>
        {% endif %}
      </div>
	{% endfor %}
    </div>
    <h2 class="section-subheading text-muted">They offer you thousands of study materials? We offer you an infinity! We are the link to the resources you need to step up!
    </h2>
  </div>
</section>
