<!-- Competition Grid -->
<section class="bg-light page-section" id="{{ site.data.m1.customers.section | default: "customers" }}">
  <div class="container">

    <div class="row">
      <div class="col col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.m1.customers.title }}</h2>
      </div>
    </div>

    <div class="row">
      <div class="col col-lg-3 text-center">
        <img src="assets/img/users.png" style="width: 12rem; height: 12rem";/>
      </div>
      <div class="col col-lg-9 text-justify">
        <p>{{ site.data.m1.customers.text1 }}</p>
        <p>{{ site.data.m1.customers.text2 }}</p>
      </div>
    </div>

  </div>
</section>