<!-- Descriptions -->
<section class="page-section" id="{{ site.data.sitetext.keymetrics.section | default: "keymetrics" }}">
  <div class="container">
    
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext.keymetrics.title }}</h2>
      </div>
    </div>

    <ul class="keymetrics">
    {% for metric in site.data.sitetext.keymetrics.list %}
      <li class="item" data-toggle="tooltip" data-placement="top" title="{{ metric.desc }}">
        <h5>{{ metric.text }}</h5>
      </li>
    {% endfor %}
    </ul>
  </div>
</section>
<!-- End Descriptions -->