<section class="bg-light page-section" id="{{ site.data.m4.interviews.section | default: "interviews" }}">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">{{ site.data.m4.interviews.title }}</h2>
            <p class="text-justify"></p>
        </div>
      </div>

      <div class="row">
        <div class="col col-lg-4 text-center">
          {% for l in site.data.m4.interviews.audio_files %}
              <audio controls style="width: 100%;">
                <source src="https://docs.google.com/uc?export=download&id={{l.audio}}">
              </audio>
          {% endfor %}
        </div>

        <div class="col col-lg-8 text-justify">
          <p>Stuff</p>
        </div>
      </div>

    </div>
</section>
