<section class="page-section" id="{{ site.data.m2.conclusions.section | default: "m2_conclusions" }}">
    <div class="container">
      
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">{{ site.data.m2.conclusions.title }}</h2>
        </div>
      </div>

      <div class="row">
        <div class="col col-lg-12 text-justify">
          <p>{{ site.data.m2.conclusions.intro }}</p>
          <p>{{ site.data.m2.conclusions.pr_val }}</p>
          <p>{{ site.data.m2.conclusions.sol_val }}</p>
          <p>{{ site.data.m2.conclusions.tools }}</p>
          <p>{{ site.data.m2.conclusions.end }}</p>
        </div>
      </div>
  
    </div>
</section>