/* The same layout with CSS Grid ► https://codepen.io/Rafiozoo/pen/NyMZRy */
.keymetrics {
	margin: 3rem auto;
	padding: 1rem 0 2.4rem;
	text-align: center;
}
.keymetrics::after {
	content: "";
	display: table;
	clear: both;
}
.item {
	display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
	width: 10rem;
	height: 10rem;
	position: relative;
	display: inline-block;
	margin: 0.5rem;
}
.item::before {
	content: "";
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
	background-color: $primary;
	clip-path: circle(45% at 50% 50%);
	transform: scale(1.077);
	transition: transform 0.3s;
}
.item:hover::before {
	transform: scale(1.11);
}
.item H5 {
	display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
	margin: 0;
/* 	background-image: See JS. */
	background-size: cover;
	background-position: center;
	// clip-path: polygon(50% 0, 93.3% 25%, 93.3% 75%, 50% 100%, 6.7% 75%, 6.7% 25%);
}


@media (min-width: 17rem) {
	.item {
		display: block;
		float: left;
		margin: 0; /* reset */
		margin-bottom: -1.4rem;	/* shifting up the items in the next row */
	}
}

@media (min-width: 17rem) and (max-width: 21.999rem) {
	.keymetrics {
		max-width: 15rem;
	}
	.item:nth-child(even) {
		margin-left: 5rem;
	}
}

@media (min-width: 22rem) and (max-width: 31.999rem) {
	.keymetrics {
		max-width: 20rem;
	}
	.item:nth-child(3n+3) {
		margin-left: 5rem
	}
}

@media (min-width: 32rem) and (max-width: 41.999rem) {
	.keymetrics {
		max-width: 30rem;
	}
	.item:nth-child(5n+4) {
		margin-left: 5rem;
	}
}

@media (min-width: 42rem) /* and (max-width: 53.999rem) */ {
	.keymetrics {
		max-width: 40rem;
	}
	.item:nth-child(7n+5) {
		margin-left: 5rem;
	}
}

// @media (min-width: 54rem) {
// 	.keymetrics {
// 		max-width: 50rem;
// 	}
// 	.item:nth-child(9n+6) {
// 		margin-left: 5rem;
// 	}
// }
/* IE resets - because of clip-path no support */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	/* IE10+ CSS */
	.keymetrics {
		padding: 1.25rem 0;
	}
	.item {
		display: inline-block;
		float: none;
		margin: .85rem !important;
	}
}
@supports (-ms-ime-align: auto) {
	/* IE Edge 12+ */
	.keymetrics {
		padding: 1.25rem 0;
	}
	.item {
		display: inline-block;
		float: none;
		margin: .85rem !important;
	}
}